.carousel {
    max-width: 600px;
    position: relative;
}

.carousel .carousel-item {
    display: none;
}

.carousel .carousel-item-visible {
    display: block;
}

.carousel .carousel-item img {
    width: 100%;
    max-width:  600px;
    height: auto;
}

.carousel .carousel-actions {
    display: flex;
    width: 100%;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

#carousel-button-prev,
#carousel-button-next {
    background: white;
    border-radius: 50%;
    border: 0;
    font-weight: bolder;
    top: 50%;
    cursor: pointer;
    width: 40px;
    height: 40px;
    font-size: 18px;
}

#carousel-button-prev {
    margin-left: 20px;
}

#carousel-button-next {
    margin-right: 20px;
}

.carousel-item-hidden {
    display: none;
}